aside {
  background-color: #1F1F3D;
}

h1 {
  color: #E9E9F3;
}

h2 {
  color: #BFBFDD;
}

.show-starred-ideas {
  background-color: #5356A4;
  color: #E9E9F3;
}

.wrapper {
  background-color: #A9AAD2;
  height: 30%;
}

.cards-grid {
  height: 70%;
  background-color: #EAEAF4;
}

body {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
