body {
  display: flex;
  font-family: "Open Sans";
  margin: 0px;
}

aside {
  background-color: #1F1F3D;
  width: 500px;
}

h1 {
  color: #E9E9F3;
  margin: 20px;
}

hr {
  border: 1px solid #353567;
}

h2 {
  color: #BFBFDD;
  font-size: 1.1em;
  margin: 20px;
}

.show-starred-ideas, .show-all-ideas {
  background-color: #5356A4;
  color: #E9E9F3;
  font-size: 1.5em;
  font-weight: 500;
  width: 460px;
  padding: 10px;
  border: 0px;
  border-radius: 2px;
  margin: 0px 20px;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-weight: 300;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-color: #A9AAD2;
  height: 40%;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 30px 0px;
}

form label {
  align-self: flex-start;
  font-weight: bold;
}

form label, input, button, .body-input {
  font-family: inherit;
  font-size: 1em;
  margin: 5px;
  width: 100%;
}

input {
  border: 2px solid #5356A4;
}

.save {
  background-color: #353567;
  color: #E9E9F3;
  font-size: 1.5em;
  font-weight: 500;
  padding: 10px;
  border-radius: 2px;
}

.fake-save {
  background-color: #666698;
}

.real-save {
  cursor: pointer;
}

.search-field {
  height: 50px;
  display: flex;
  padding: 0px;
  margin-left: 5px;
  margin-right: 0px;
  width: 100%;
}

.magnifying-glass {
  background-color: #353567;

}

.search-ideas, .search-favorite-ideas {
  height: 50px;
  margin: 0px;
}

.cards-grid {
  display: grid;
  height: 60%;
  background-color: #EAEAF4;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 250px;
  border: 1px solid #5356A4;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #1F1F3D;
}

.card-content {
  background-color: #FFFFFF;
  color: #1F1F3D;
  height: 100%;
}

footer {
  display: flex;
  align-items: center;
  background-color: #5356A4;
  color: #E9E9F3;
}

.hidden {
  display: none!important;
}

.delete-card, .star-empty, .star-active {
  cursor: pointer;
}
